extends ./update

block orderUp
	.form-group.row
		label.col-sm-2.col-form-label Origin SA
		h3.col-sm-8.text-info #{object.paySa.price}
		input.form-control(type="hidden", value=object.paySa.price)
	.form-group.row
		label.col-sm-2.col-form-label Md
		.col-sm-6
			input#iptMd.form-control(type="text", name="object[mdPrice]")
		.col-sm-4
			span#optMd.text-danger(style="display:none") Pleas complete Md Price
	.form-group.row
		label.col-sm-2.col-form-label Sa
		.col-sm-6
			input#iptSa.form-control(type="text", name="object[saPrice]")
		.col-sm-4
			span#optSa.text-danger(style="display:none") Pleas complete Sa Price
	script(src="/js/order/update/slipMd.js")