extends ../update

block orderUp
	.form-group.row
		label.col-sm-2.col-form-label Origin price
		h3.col-sm-8.text-info #{object.price}
		input.form-control(type="hidden", value=object.price)
	.form-group.row
		label.col-sm-2.col-form-label new price
		.col-sm-8
			input.form-control(type="text", name="object[price]")
	-priceHis = object.price;
	if object.priceHis || object.priceHis == 0
		-priceHis = object.price + " - " + object.priceHis;
	.form-group.row
		label.col-sm-2.col-form-label price history
		.col-sm-8
			input.form-control(type="text", name="object[priceHis]", value=priceHis, readonly="readonly")
	script(src="/js/order/update/upPrice.js")