extends ../aalayout/layout

block content
	.container
		-let stsOrderBg = Conf.stsOrderBg[object.status];
		.row(class=stsOrderBg)
			h1.col-sm-6
				span Order Information: 
			.col-sm-4.text-right
				a.btn.btn-link(href="/qtOrders") back list
		hr
		include ./detail/acsaInfo
		hr
		include ./detail/selfInfo
		hr
		if object.creater && object.creater.code == crSfer.code && object.status == 0
			-a;
			a.btn.btn-warning(href="/qtOrderUp/"+object._id) Update
			span &nbsp; &nbsp;
			a.btn.btn-danger(href="/qtOrderDel/"+object._id) Delete