extends ../aalayout/layout

block content
	.container
		.row
			h1.col-12.col-sm-6 Orders [#{count}]
			.col-6.col-sm-3.text-right
				button.btn.btn-warning.btn-block.btnFilter(type="button") Filter
			.col-6.col-sm-3.text-right
				a.btn.btn-primary.btn-lg(href="/qtOrderAdd") new Order
		hr
		.filterInfo(style="display:none")
			#selectOption.bg-light.pt-2
				include ./list/filter
			hr
		include ../../../aaPlugin/pageSlip
		include ./list/selfList
	script(src="/js/filtTog.js")