form(method="get", action=url+"Print", enctype="multipart/form-data")
	
	input.form-control(type="hidden", name="keytype", value=keytype)
	input.form-control(type="hidden", name="keyword", value=keyword)
	include ../../../aaPlugin/print/at
	include ../../../aaPlugin/print/status
	include ../../../aaPlugin/print/footer
