dl.dl-horizontal
	dt Code:
	dd #{object.code}
	dt Tax Free
	dd #{object.taxFree}

	dt createAt:
	dd #{moment(object.createAt).format('DD/MM/YYYY')}
	dt updateAt:
	dd #{moment(object.updateAt).format('DD/MM/YYYY')}