extends ../aalayout/layout

block content
	.container.mt-3
		h2 Contabilita
		.row.mt-3.bg-light
			include ../../sfer/index/manager
		.row.border.mt-3
			.col-6.col-sm-4.col-lg-3
				a.nav-link(href="/fnOrders")
					img.figure-img.img-fluid.rounded(src="/imgs/orders.jpg", width="100%", alt="orders list")
			.col-6.col-sm-4.col-lg-3
				a.nav-link(href="/fnPays")
					img.figure-img.img-fluid.rounded(src="/imgs/pays.jpg", width="100%", alt="pays list")
			//- .col-6.col-sm-4.col-lg-3
			//- 	a.nav-link(href="/fnFatturas") Fatturas
			//- .col-6.col-sm-4.col-lg-3
			//- 	a.nav-link(href="/fnFattura") Fattura
		.row.mt-3
			if crSfer.part == 1
				-a;
				include ../../sfer/index/scont
			include ../../sfer/index/index