extends ../aalayout/layout

block content
	.container.mt-3
		h1 Contabilita Systema
		hr
		.row
			.col-6.col-sm-4.col-lg-3
				a.nav-link(href="/fnOrders")
					img.figure-img.img-fluid.rounded(src="/imgs/orders.jpg", width="100%", alt="orders list")
			.col-6.col-sm-4.col-lg-3
				a.nav-link(href="/fnPays")
					img.figure-img.img-fluid.rounded(src="/imgs/pays.jpg", width="100%", alt="pays list")
			include ../../sfer/index/scont
			include ../../sfer/index/index