extends ../aalayout/layout

block content
	.container
		h1 Contabilita Systema
		hr
		.row
			.col-6.col-sm-4.col-lg-3
				a.nav-link(href="/fnOrders")
					img.figure-img.img-fluid.rounded(src="/imgs/orders.jpg", width="100%", alt="orders list")
			.col-6.col-sm-4.col-lg-3
				a.nav-link(href="/fnPays")
					img.figure-img.img-fluid.rounded(src="/imgs/pays.jpg", width="100%", alt="pays list")
			.col-6.col-sm-4.col-lg-3
				a.nav-link(href="/fnVders")
					img.figure-img.img-fluid.rounded(src="/imgs/vendors.jpg", width="100%", alt="vendor list")
			.col-6.col-sm-4.col-lg-3
				a.nav-link(href="/sfTasks")
					img.figure-img.img-fluid.rounded(src="/imgs/tasks.jpg", width="100%", alt="tasks list")