extends ../aalayout/layout

block content
	.container
		.row
			h1.col-sm-6 New Payment
			.col-sm-6.text-right
				a.btn.btn-link(href="/odPaymentList") back PaymentList
		hr
		form#addPayment(method="post", action=action, enctype="multipart/form-data")
			.form-group.row
				label.col-sm-2.col-form-label Supplier
				.col-sm-8
					select#iptVder.form-control(name="object[vder]", data-style="btn-info")
						each vder in vders
							-a;
							option(value=vder._id) #{vder.code}
			.form-group.row
				label.col-sm-2.col-form-label Order
				.col-sm-8
					input#iptOrder.form-control(type="text", name="object[order]")
				.col-sm-2
					span#optOrder.text-danger(style="display:none") Pleas complete order

			.form-group.row
				label.col-sm-2.col-form-label P/I
				.col-sm-8
					input#iptPi.form-control(type="text", name="object[pi]")
				.col-sm-2
					span#optPi.text-danger(style="display:none") Pleas complete proforma invoice

			.form-group.row
				label.col-sm-2.col-form-label Brand
				.col-sm-8
					input#iptBrand.form-control(type="text", name="object[brand]")
				.col-sm-2
					span#optBrand.text-danger(style="display:none") Pleas complete Brand

			.form-group.row
				label.col-sm-2.col-form-label Price
				.col-sm-8
					input#iptPrice.form-control(type="text", name="object[price]")
				.col-sm-2
					span#optPrice.text-danger(style="display:none") Pleas complete Price

			.form-group.row
				label.col-sm-2.col-form-label Ac
				.col-sm-4
					input#iptAc.form-control(type="text", name="object[ac]")
				.col-sm-4
					input#iptAcAt.datepicker.form-control(type="text", name="object[acAt]", placeholder="payment date [format:month/day/year]", readonly="readonly")
				.col-sm-2
					span#optAc.text-danger(style="display:none") Pleas complete Ac
					span#optAcAt.text-danger
			.form-group.row
				label.col-sm-2.col-form-label Sa
				.col-sm-4
					input#iptSa.form-control(type="text", name="object[sa]")
				.col-sm-4
					input#iptSaAt.datepicker.form-control(type="text", name="object[saAt]", placeholder="ayment date [format:month/day/year]", readonly="readonly")
				.col-sm-2
					span#optSa.text-danger(style="display:none") Pleas complete Sa

			.form-group.row
				label.col-sm-2.col-form-label ourNote
				.col-sm-8
					textarea.form-control.rounded-0(rows="3", name="object[ourNote]")

			.form-group.row
				.offset-md-2.col-md-10
					input.btn.btn-default(type="submit" value="Add Payment")
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	//- <link rel="stylesheet" href="/resources/demos/style.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	//- timepicker
	link(rel="stylesheet", href="/libs/jt.timepicker/jquery.timepicker.css")
	script(src="/libs/jt.timepicker/jquery.timepicker.min.js")

	script(src="/js/payment/add.js")