extends ../aalayout/layout

block content
	.container
		a.btn.btn-info.btn-lg.btn-block(href="/bnNationAdd") Add Nation
		.row
			h3.col-6 Nations
			.col-6.text-right
				a.btn.btn-warning(href="/bnNationsPrint") Download Excel
		hr
		include ./list/selfList