extends ../aalayout/layout

block content
	.container.mt-3
		h2 Order Partment
		.row.mt-4.bg-light
			include ../../sfer/index/manager
		.row.mt-4
			include ../../sfer/index/order
			include ../../sfer/index/scont
			include ../../sfer/index/index