form(method="get", action=url, enctype="multipart/form-data")
	.form-group.row
		label.col-sm-2.col-form-label Keywords
		.col-md-2
			select.form-control(name="keytype", data-style="btn-info")
				if keytype == "order"
					-a;
					option(value="order", selected="selected") Order
				else
					option(value="order") Order
				if keytype == "brand"
					-a;
					option(value="brand", selected="selected") brand
				else
					option(value="brand") brand
				//- if keytype == "price"
				//- 	-a;
				//- 	option(value="price", selected="selected") Price
				//- else
				//- 	option(value="price") Price
				if keytype == "pi"
					-a;
					option(value="pi", selected="selected") P/I
				else
					option(value="pi") P/I
				if keytype == "ourNote"
					-a;
					option(value="ourNote", selected="selected") ourNote
				else
					option(value="ourNote") ourNote
		.col-md-8
			input.form-control(type="text", name='keyword', value=keyword, placeholder="input the keywords to find your jobs")
	- let objStatus = Conf.stsOrder;
	include ../../../../aaPlugin/filter/status
	include ../../../../aaPlugin/filter/footer