extends ../aalayout/layout

block content
	.container
		h1 Nation List
		hr
		.row
			.col-sm-8
			.col-sm-4
				a.btn.btn-bg.btn-block.btn-warning(href="/qtNationsPrint") Download Excel
		hr
		include ./list/selfList