dl.dl-horizontal
	dt Code:
	dd #{object.code}
	dt Role:
	dd #{Conf.sfRole[object.role]}
	
	dt createAt:
	dd #{moment(object.createAt).format('DD/MM/YYYY')}
	dt updateAt:
	dd #{moment(object.updateAt).format('DD/MM/YYYY')}