extends ../aalayout/layout

block content
	.container
		-let stsOrderBg = Conf.stsOrderBg[object.status];
		.row(class=stsOrderBg)
			h1.col-sm-6
				span Order Information: 
			.col-sm-4.text-right
				a.btn.btn-link(href="/fnOrders") back list
		hr
		if object.status == 0
			-a;
			h4 需要订单部确认
		include ./detail/acsaInfo
		hr
		include ./detail/selfInfo
		//- hr
		//- a.btn.btn-warning(href="/fnOrderUp/"+object._id) Update
		//- span &nbsp; &nbsp;
		//- a.btn.btn-danger(href="/fnOrderDel/"+object._id) Delete
	//- script(src="/js/changeStatus.js")