.contain1 {
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.prtBfr {
	page-break-before: always;
	page-break-after: auto;
}
.prtAft {
	page-break-before: auto;
	page-break-after: always;
}