.contain1 {
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.prtBfr {
	page-break-before: always;
	page-break-after: auto;
}
.prtAft {
	page-break-before: auto;
	page-break-after: always;
}

.lgprint {
	width: 280px;
	padding-right: 15px;
	padding-left: 15px;
}

.footer {
	width: 100%;
	background: #B0C4DE;
}

.topNav-second {
	position: fixed;
	top: 56px;
	right: 0px;

	width: 100%;
	height: 50px;
	background: #b4d145;
}
.topNav-second2 {
	position: fixed;
	top: 108px;
	right: 0px;

	width: 100%;
	height: 50px;
	background: grey;
}
.topNav-third {
	position: fixed;
	top: 108px;
	right: 0px;

	width: 100%;
	height: 600px;
	background: white;
}

.btn-float-total {
	position: fixed;
	bottom: 50px;
	right: 0px;

	width: 100%;
	height: 40px;
	background: #b4d145;
}


/* 一下是备用的 */
.btn-float-circle {
	position: fixed;
	bottom: 50px;
	right: 5px;

	height: 40px;
	width: 40px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;

	background: #b4d145;
}

.btn-float-back {
	/*position: fixed;
	top: 50px;
	left: 10px;
*/
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-right: 30px solid gray;
	border-bottom: 15px solid transparent;
}
.btn-float-ahead {
	/*position: fixed;
	top: 50px;
	left: 10px;
*/
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-left: 30px solid red;
	border-bottom: 15px solid transparent;
}

.containerA4 {
	width: 100%;
	padding-right: 150px;
	padding-left: 150px;
	margin-right: auto;
	margin-left: auto;
}

.tableA4 {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.tableA4 th,
.tableA4 td {
  padding: 0.4rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}