.mycontainer {
	width: 770px;	
	padding-right: 10px; padding-left: 10px;
	margin-right: auto; margin-left: auto;
}
.wd10{width: 10px;}
.wd30{width: 30px;}
.wd80{width: 80px;}
.wd90{width: 90px;}
.wd180{width: 180px;}
.wd230{width: 230px;}
.wd250{width: 250px;}
.wd290{width: 290px;}
.wd300{width: 300px;}
.wd400{width: 400px;}
.wd510{width: 510px;}
.wd590{width: 590px;}
.ht01{height: 10px;border: 0px;}
.ht02{height: 20px;border: 0px;}
.ht03{height: 30px;border: 0px;}
.ht06{height:70px;border:0px;text-align:center;}
.ht13{height:30px;border:1px solid #000000;margin-top: -1px;margin-left: -4px; text-align:center;}
.ht15{height:50px;border:1px solid #000000;margin-top: -1px;margin-left: -4px; text-align:center;}