extends ../../aalayout/layout

block content
	.container
		.row(class=objBg)
			h1.col-sm-6 nation Information: [#{object.code}]
			.col-sm-6.text-right
				a.btn.btn-link(href="/nationList") nation list
		hr
		include ./detail/selfInfo
		if crSfer.role == 5 || crSfer.role == 10
			-a;
			if brands.length > 0 
				-a;
				hr
				include ./detail/brands