extends ../../aalayout/layout

block content
	.container
		a.btn.btn-info.btn-lg.btn-block(href="/nationAdd") Add Nation
		hr
		.row
			.col-sm-8
			.col-sm-4
				a.btn.btn-bg.btn-block.btn-warning(href="/nationListPrint") Download Excel
		hr
		include ./list/selfList