input.form-control(type="hidden", name="crtStart", value=condCrtStart)
input.form-control(type="hidden", name="crtEnded", value=condCrtEnded)

input.form-control(type="hidden", name="updStart", value=condCrtStart)
input.form-control(type="hidden", name="updEnded", value=condUpdEnded)