.form-group.row
	input.form-control(type="hidden", name="page", value=currentPage-1)
	input.form-control(type="hidden", name='entry', value=entry)
.form-group.row
	input.btn.btn-default.btn-block(type="submit" value="DownLoad Execl")