extends ../aalayout/layout

block content
	.container.mt-5
		.row
			.col-6.col-sm-4.col-lg-3
				a.nav-link(href="/cbBrands")
					img.figure-img.img-fluid.rounded(src="/imgs/brand.jpg", width="100%", alt="brand list")
			.col-6.col-sm-4.col-lg-3
				a.nav-link(href="/cbNations")
					img.figure-img.img-fluid.rounded(src="/imgs/nations.jpg", width="100%", alt="nation list")
			.col-6.col-sm-4.col-lg-3
				a.nav-link(href="/cbBcategs")
					img.figure-img.img-fluid.rounded(src="/imgs/categs.jpg", width="100%", alt="brand Category")