.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
	a.navbar-brand(href="/cner") 主页 
	button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation")
		<span class="navbar-toggler-icon"></span>

	.collapse.navbar-collapse#navbarTogglerDemo02
		ul.navbar-nav.mr-auto.mt-2.mt-lg-0
			li.nav-item.active
				a.nav-link(href="/cnBrands") 品牌列表 <span class="sr-only">(current)</span>
			li.nav-item.active
				a.nav-link(href="/cnNations") 国家列表 <span class="sr-only">(current)</span>
			li.nav-item.active
				a.nav-link(href="/cnBcategs") 类型列表 <span class="sr-only">(current)</span>
		ul.navbar-nav
			if crSfer
				-a;
				li
					form.form-inline(method="get", action="/headercnBrand", enctype="multipart/form-data")
						input(type="hidden", name="keytpye", value="code")
						input.form-control.mr-sm-2(type="search", name='keyword', placeholder="品牌名",  aria-label="Search")
						button.btn.btn-outline-success.my-2.my-sm-0(type="submit") 搜索

				li.text-info
					span &nbsp;
					a.btn.btn-info(href="/cnerInfo") 你好: 
						if crSfer.name && crSfer.name.length > 0
							span #{crSfer.name}
						else
							span #{crSfer.code}
						if crSfer.role
							span &nbsp;(#{Conf.sfRole[crSfer.role]})
						if crSfer.photo
							img(src=Svaddr+crSfer.photo, width="30")
						-a;
				span &nbsp;&nbsp;&nbsp;&nbsp;
				li: a.btn.btn-danger(href="/logout") Logout

.container
	.row
		div(style="height:80px") 


#signIn.modal.fade
	.modal-dialog
		.modal-content
			form(method="post", action="/loginMger")
				.modal-header: h3 Manager Signin
				.modal-body
					.form-group
						label.col-form-label(for="iptCode") Code
						input#iptCodeModal.form-control(type="text", class="iptCode", name="code")
					.form-group
						label.col-form-label(for="iptPassword") Password
						input#iptPasswordModal.form-control(type="password", class="iptPassword", name="password")
				.modal-footer
					button.btn.btn-default(type="button" data-dismiss="modal") 关闭
					button.btn.btn-success(type="submit") 提交