form#subScontFilter(method="get", action=filterAction, enctype="multipart/form-data")
	.form-group.row
		label.col-sm-2.col-form-label scont
		.col-md-10
			input#fKeyword.form-control(type="text", name='keyword', value=keyword, placeholder="input the code of Brand")
	- let objStatus = Conf.stsScont;
	include ../../../aaPlugin/filter/at
	include ../../../aaPlugin/filter/status
	include ../../../aaPlugin/filter/footer