extends ../aalayout/layout

block content
	.container.mt-3
		h2 Logistic
		.row.border.mt-3
			.col-6.col-sm-4.col-lg-3
				a.nav-link(href="/lgprint")
					img.figure-img.img-fluid.rounded(src="/imgs/lger/print.jpg", width="100%", alt="pays list")
		.row.mt-4.border-bottom
			include ../../sfer/index/manager
		.row.mt-4
			.col-6.col-sm-4.col-lg-3
				a.nav-link(href="/lgOrders")
					img.figure-img.img-fluid.rounded(src="/imgs/orders.jpg", width="100%", alt="orders list")
			.col-6.col-sm-4.col-lg-3
				a.nav-link(href="/lgPays")
					img.figure-img.img-fluid.rounded(src="/imgs/pays.jpg", width="100%", alt="pays list")
			include ../../sfer/index/scont
			include ../../sfer/index/index