.w150 3) Terms and conditions of order
.w210
	.h45.border % #{object.scont} &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;#{object.note}
.w150.text-right
	span  <strong> ac / sa : </strong>
	.h30.border #{vendor.ac} / #{vendor.sa}