.imgDiv.border-right.border-bottom
	img(src=publicPath+"/imgs/casaLogo.jpg", alt="casaLogo", width="124px")
.imgRight.border-bottom.text-center
	span CASAITALIANA srl <br/>
	span Via Einaudi 4, Peschiera Borromeo(MI) - Italy <br/>
	span P.iva: 03555180136 <br/>
	span Tel: +39 02 91270932 <br/>
	span www.italyclassico.it / www.itlyclassico.com <br/>
	span info@italyclassico.it