extends ../../aalayout/layout

block content
	.container
		include ./detail/selfInfo

		include ./detail/mark
		
		if crSfer.role == 5 || crSfer.role == 10 || crSfer.role == 15
			-a;
			include ./detail/vendors
	script(src="/js/responsive.js")