extends ../../aalayout/layout

block content
	.container
		.row
			h1.col-sm-6
				span Brands [#{amount}]
			.col-sm-6.text-right
				span: a.btn.btn-info.btn-lg(href="/brandAdd") Add Brand
		hr
		include ../../aalayout/pageSlip
		include ./list/selfList
		hr
		include ./list/filter