extends ../../aalayout/layout

block content
	.container
		h1 Brands [#{amount}]
		hr
		a.btn.btn-info.btn-lg.btn-block(href="/brandAdd") Add Brand
		hr
		include ./list/filter
		hr
		include ../../aalayout/pageSlip
		include ./list/selfList