extends ../aalayout/layout

block content
	.bg-secondary.py-5
		.container.text-center
			h2 Second Category
	.container.mt-3
		include ./list/selfList
		a.btn.btn-bg.btn-default.mt-5(href="/qtBcategsPrint") Download Excel