link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet", type="text/css")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")


link(href="/css/scontPaper.css", rel="stylesheet", type="text/css")
<style type="text/css" media=print> .noprint{display: none;} </style>