extends ../aalayout/layout

block content
	.container
		.row
			.col-6.col-sm-4
				a.nav-link(href="/bnBrands")
					figure.figure
						img.figure-img.img-fluid.rounded(src="/imgs/brand.jpg", width="150px", height="150px", alt="brand list")
						figcaption.figure-caption.text-right brands
			.col-6.col-sm-4
				a.nav-link(href="/bnVendors")
					figure.figure
						img.figure-img.img-fluid.rounded(src="/imgs/vendors.png", width="150px", height="150px", alt="vendor list")
						figcaption.figure-caption.text-right vendors
			.col-6.col-sm-4
				a.nav-link(href="/bnSconts")
					figure.figure
						img.figure-img.img-fluid.rounded(src="/imgs/scont.jpg", width="150px", height="150px", alt="scont list")
						figcaption.figure-caption.text-right sconts
		hr
		.row
			.col-6.col-sm-6
				a.nav-link(href="/bnNations")
					figure.figure
						img.figure-img.img-fluid.rounded(src="/imgs/nations.jpg", width="200px", height="150px", alt="nation list")
						figcaption.figure-caption.text-right nations
			.col-6.col-sm-6
				a.nav-link(href="/bnBcategs")
					figure.figure
						img.figure-img.img-fluid.rounded(src="/imgs/categs.png", width="150px", height="150px", alt="brand Category")
						figcaption.figure-caption.text-right Category