extends ../aalayout/layout

block content
	.container.mt-5
		.row
			.col-6.col-sm-4.col-lg-3
				a.nav-link(href="/bnBrands")
					img.figure-img.img-fluid.rounded(src="/imgs/brand.jpg", width="100%", alt="brand list")
			.col-6.col-sm-4.col-lg-3
				a.nav-link(href="/bnVendors")
					img.figure-img.img-fluid.rounded(src="/imgs/vendors.jpg", width="100%", alt="vendor list")
			.col-6.col-sm-4.col-lg-3
				a.nav-link(href="/bnSconts")
					img.figure-img.img-fluid.rounded(src="/imgs/scont.jpg", width="100%", alt="scont list")
			.col-6.col-sm-4.col-lg-3
				a.nav-link(href="/bnNations")
					img.figure-img.img-fluid.rounded(src="/imgs/nations.jpg", width="100%", alt="nation list")
			.col-6.col-sm-4.col-lg-3
				a.nav-link(href="/bnBcategs")
					img.figure-img.img-fluid.rounded(src="/imgs/categs.jpg", width="100%", alt="brand Category")
			.col-6.col-sm-4.col-lg-3
				a.nav-link(href="/bnOrders")
					img.figure-img.img-fluid.rounded(src="/imgs/orders.jpg", width="100%", alt="orders list")
			.col-6.col-sm-4.col-lg-3
				a.nav-link(href="/bnPays")
					img.figure-img.img-fluid.rounded(src="/imgs/pays.jpg", width="100%", alt="pays list")
			include ../../sfer/index/index