.form-group.row
	label.col-sm-2.com-form-label Input Brand Code
	.col-sm-6
		input#ajaxIptBrandCode.form-control(type="text")
	.col-sm-4
		span.text-danger#ajaxOptBrandCode

script(src="/js/scont/scont/add/brandAjax.js")