input#scontBrand(type="hidden", name="object[brand]")
input#scontVendor(type="hidden", name="object[vendor]")
input(type="hidden", name="object[creater]", value=crSfer._id)
input(type="hidden", name="object[updater]", value=crSfer._id)
.form-group.row
	label.col-sm-2.col-form-label Sconto
	.col-sm-2.input-group
		input#iptSctScont.form-control(type="text", name="object[scont]")
		.input-group-append
			span.input-group-text %	
	.col-sm-2
		span.text-danger#optSctScont
.form-group.row
	label.col-sm-2.col-form-label NOTE
	.col-sm-10
		input.form-control(type="text", name="object[note]")
.form-group.row
	label.col-sm-2.col-form-label Cause
	.col-sm-8
		select#iptSctCause.form-control(name="object[cause]", data-style="btn-info")
			option(value=-1) Please Select
			each key in Object.keys(Conf.sctCause)
				option(value=key) #{Conf.sctCause[key]}
			- a;
	.col-sm-2
		span.text-danger#optSctCause
script(src="/js/scont/scont/add/scontAdd.js")