.form-group.row
	label.col-sm-2.com-form-label Input Vendor Code
	.col-sm-6
		input#ajaxIptVendorCode.form-control(type="text")
	.col-sm-4
		span.text-danger#ajaxOptVendorCode

script(src="/js/scont/scont/add/vendorAjax.js")