extends ../../aalayout/layout

block content
	.container
		h1 Scont Add
		hr
		form#addScont(method="post", action="/addScont", enctype="multipart/form-data")
			h3 brand infomation
			.row
				.col-sm-10
					.divIptBrand.bg-info.pt-2.pb-2
						include ./add/brandAjax
					.divAddBrand(style="display:none").bg-light.pt-2.pb-2
						include ./add/brand
				.col-sm-2#matchBrands(style="display:none")
					table#filterBrand.table.table-hover.table-bordered
			#alertBrand.alert.alert-warning(style="display:none")
				<strong>Warning!</strong> Brand is not right.
			hr
			h3 vendor infomation
			.row
				.col-sm-10
					.divIptVendor.bg-info.pt-2.pb-2
						include ./add/vendorAjax
					.divAddVendor(style="display:none").bg-light.pt-2.pb-2
						include ./add/vendor
				.col-sm-2#matchVendors(style="display:none")
					table#filterVendor.table.table-hover.table-bordered
			#alertVendor.alert.alert-warning(style="display:none")
				<strong>Warning!</strong> supplier is not right.
			hr
			h3 scont information
			.row
				.col-sm-10
					.divIptScont.bg-light.pt-2.pb-2
						include ./add/scont
			.form-group.row
				.offset-md-2.col-md-10
					input.btn.btn-default(type="submit" value="Add Scont")
	script(src="/js/scont/scont/add/add.js")