extends ../../aalayout/layout

block content
	.container
		h1 Scont [#{amount}]
		hr
		a.btn.btn-info.btn-lg.btn-block(href="/scontAdd") Add Scont
		hr
		include ./list/filter
		hr
		include ../../aalayout/pageSlip
		include ./list/selfList