extends ../../aalayout/layout

block content
	.container
		.row
			h1.col-sm-6
				span Scont [#{amount}]
			.col-sm-6.text-right
				span: a.btn.btn-info.btn-lg(href="/scontAdd") Add Scont
		hr
		include ./list/filter
		hr
		include ../../aalayout/pageSlip
		include ./list/selfList