extends ../aalayout/layout

block content
	.container
		.row
			h1.col-12.col-sm-6
				span 品牌 [#{count}]
			.col-12.col-sm-6.text-right
				button.btn.btn-warning.btnFilter(type="button") Filter
		hr
		.filterInfo(style="display:none")
			.row.bg-light.p-2
				.col-sm-12
					include ./list/filter
			hr
		.row
			.col-sm-12
				include ../../../aaPlugin/pageSlip
			.col-sm-12
				include ./list/selfList
		.row
			.col-sm-8
			.col-sm-4
				include ./list/print
	script(src="/js/filtTog.js")