extends ../aalayout/layout

block content
	.container
		.row
			h1 CasaItaliana #{title}
		hr
		form(method="post", action=action)
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="sgnCode") Code
				.col-8.col-sm-6
					input.form-control#sgnCode(type="text", name=code, placeholder="Please input your code")
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="sgnPw") Password
				.col-8.col-sm-6
					input.form-control#sgnPw(type="password", name=password, placeholder="Your password")
			.form-group.row
				.offset-sm-2.col-sm-6
					button.btn.btn-block.btn-default(type="submit") SignIn