extends ../aalayout/layout

block content
	.container
		.row
			.col-sm-6.col-md-4
				a.btn.btn-lg.btn-success(href="/adMgerAdd") 添加Manager
			.col-sm-0.col-md-4
			.col-sm-6.col-md-4
				a.btn.btn-lg.btn-success(href="/adMgerList") Manager列表