extends ../aalayout/layout

block content
	.container
		include ./detail/selfInfo
		include ./detail/mark

		if object.sconts && object.sconts.length > 0
			-let sconts = object.sconts;
			include ./detail/vendors
	script(src="/js/scont/brand/detail.js")