a.btn.btn-default(href="#", data-toggle="modal", data-target="#upVderInfo") updateInfo

#upVderInfo.modal.fade
	.modal-dialog
		.modal-content
			form#updateInfo(method="post", action="/fnUpVderInfo", enctype="multipart/form-data")
				.modal-header: h3 update Information
				.modal-body
					input(type="hidden", name="object[_id]", value=object._id)
					.form-group
						label.col-form-label(for="iptTaxFree") TaxFree
						input#iptTaxFree.form-control(type="text", class="iptTaxFree", name="object[taxFree]" value=object.taxFree)
						#optTaxFree.text-danger(style="display:none") 请输入数字
				.modal-footer
					button.btn.btn-default(type="button" data-dismiss="modal") 关闭
					button.btn.btn-success(type="submit") 提交
script(src="/js/fner/vder/update.js")