if crSfer.role == 1
	-a;
	include ../../oder/aalayout/header
else if crSfer.role == 2
	-a;
	include ../../fner/aalayout/header
else if crSfer.role == 3
	-a;
	include ../../lger/aalayout/header
else if crSfer.role == 4
	-a;
	include ../../rper/aalayout/header
else if crSfer.role == 5
	-a;
	include ../../bner/aalayout/header
else if crSfer.role == 6
	-a;
	include ../../hrer/aalayout/header
else if crSfer.role == 10
	-a;
	include ../../qter/aalayout/header
else if crSfer.role == 11
	-a;
	include ../../mker/aalayout/header
else if crSfer.role == 15
	-a;
	include ../../cner/aalayout/header