extends ../aalayout/layout

block content
	.bg-secondary.py-5
		.container
			.row
				h2.col-12.col-md-6.text-center.mt-2 Orders [#{count}]
				
				.col-12.col-md-6.mt-4
					button.btn.btn-warning.btn-block.btnFilter(type="button") Filter
				//- .col-6.col-md-3.mt-4
				//- 	a.btn.btn-info.btn-block(href="/rpOrderAdd") New
	.container.mt-3
		.filterInfo(style="display:none")
			#selectOption.bg-light.pt-2
				include ./list/filter
			hr
		include ../../../aaPlugin/pageSlip
		include ./list/selfList
	script(src="/js/filtTog.js")