extends ../aalayout/layout

block content
	.bg-secondary.py-5
		.container
			.row
				h2.col-sm-12.col-md-6.text-center Second Category
				.col-sm-12.col-md-6
					a.btn.btn-info.btn-block(href="/bnBcategAdd") Add Bcateg
	.container.mt-3
		include ./list/selfList
		a.btn.btn-bg.btn-default.mt-5(href="/bnBcategsPrint") Download Excel