extends ../aalayout/layout

block content
	.container
		.row
			.col-6.col-sm-4
				a.nav-link(href="/cnBrands")
					figure.figure
						img.figure-img.img-fluid.rounded(src="/imgs/brand.jpg", width="150px", height="150px", alt="brand list")
						figcaption.figure-caption.text-right brand list
			.col-6.col-sm-4
				a.nav-link(href="/cnNations")
					figure.figure
						img.figure-img.img-fluid.rounded(src="/imgs/nations.jpg", width="200px", height="150px", alt="nation list")
						figcaption.figure-caption.text-right nation list
			.col-6.col-sm-4
				a.nav-link(href="/cnBcategs")
					figure.figure
						img.figure-img.img-fluid.rounded(src="/imgs/categs.png", width="150px", height="150px", alt="brand Category")
						figcaption.figure-caption.text-right brand Category