.form-group.row
	label.col-md-2.col-form-label CreateAt
	label.col-md-1.col-form-label: img#imgCrtStart(src="/imgs/clockStart.jpg", width="50px")
	.col-md-3
		input#crtStartTime.datepicker.form-control(type="text", name="crtStart", placeholder="startDate format:month/day/year", readonly="readonly", value=condCrtStart)
	label.col-md-1.col-form-label: img#imgCrtEnded(src="/imgs/clockEnd.jpg", width="50px")
	.col-md-3
		input#crtEndedTime.datepicker.form-control(type="text", name="crtEnded", placeholder="endDate format : month/day/year", readonly="readonly", value=condCrtEnded)

.form-group.row
	label.col-md-2.col-form-label UpdateAt
	label.col-md-1.col-form-label: img#imgUpdStart(src="/imgs/clockStart.jpg", width="50px")
	.col-md-3
		input#updStartTime.datepicker.form-control(type="text", name="updStart", placeholder="startDate format:month/day/year", readonly="readonly", value=condUpdStart)
	label.col-md-1.col-form-label: img#imgUpdEnded(src="/imgs/clockEnd.jpg", width="50px")
	.col-md-3
		input#updEndedTime.datepicker.form-control(type="text", name="updEnded", placeholder="endDate format : month/day/year", readonly="readonly", value=condUpdEnded)


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
//- <link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
//- timepicker
link(rel="stylesheet", href="/libs/jt.timepicker/jquery.timepicker.css")
script(src="/libs/jt.timepicker/jquery.timepicker.min.js")


script(src="/js/plugin/filter.js")