extends ../aalayout/layout

block content
	.container
		.row
			h1.col-12.col-sm-6 国家: [#{object.code}]
			.col-12.col-sm-6.text-right
				a.btn.btn-link(href="/cnNations") 返回列表
		hr
		include ./detail/selfInfo
		if brands.length > 0 
			-a;
			hr
			include ./detail/brands