extends ../aalayout/layout

block content
	.container
		.row
			.col-sm-4
				include ./detail/upInfo
			.col-sm-4
				include ./detail/upDocu
			.col-sm-4
				include ./detail/upPw
		.row
			include ./detail/info