extends ../aalayout/layout

block content
	.container
		hr
		form(method="post", action="/multySfer", enctype="multipart/form-data")
			.form-group.row.udPhoto
				label.col-md-2.col-form-label(for="uplSfer") 批量上传员工
				.col-md-6
					input#uplSfer.btn.btn-info.btn-block(type="file", name="mulFile")
				.col-md-2
					input.btn.btn-warning(type="submit" value="开始上传")
		hr
		form(method="post", action="/multyNation", enctype="multipart/form-data")
			.form-group.row.udPhoto
				label.col-md-2.col-form-label(for="uplNation") 批量上传国家
				.col-md-6
					input#uplNation.btn.btn-info.btn-block(type="file", name="mulFile")
				.col-md-2
					input.btn.btn-warning(type="submit" value="开始上传")
		hr
		form(method="post", action="/multyBcateg", enctype="multipart/form-data")
			.form-group.row.udPhoto
				label.col-md-2.col-form-label(for="uplBcateg") 品牌二级分类
				.col-md-6
					input#uplBcateg.btn.btn-info.btn-block(type="file", name="mulFile")
				.col-md-2
					input.btn.btn-warning(type="submit" value="开始上传")

		hr
		form(method="post", action="/multyBrand", enctype="multipart/form-data")
			.form-group.row.udPhoto
				label.col-md-2.col-form-label(for="uplBrand") 批量上传品牌
				.col-md-6
					input#uplBrand.btn.btn-info.btn-block(type="file", name="mulFile")
				.col-md-2
					input.btn.btn-warning(type="submit" value="开始上传")
		hr
		form(method="post", action="/multyVendor", enctype="multipart/form-data")
			.form-group.row.udPhoto
				label.col-md-2.col-form-label(for="uplVendor") 批量上传供应商
				.col-md-6
					input#uplBrand.btn.btn-info.btn-block(type="file", name="mulFile")
				.col-md-2
					input.btn.btn-warning(type="submit" value="开始上传")

		hr
		form(method="post", action="/multyScont", enctype="multipart/form-data")
			.form-group.row.udPhoto
				label.col-md-2.col-form-label(for="uplScont") 批量上传Scont
				.col-md-6
					input#uplBrand.btn.btn-info.btn-block(type="file", name="mulFile")
				.col-md-2
					input.btn.btn-warning(type="submit" value="开始上传")