extends ../aalayout/layout

block content
	.container
		.row
			h1.col-sm-6 Tasks [#{count}]
			.col-sm-6.text-right
				a.btn.btn-primary.btn-lg(href="/taskAdd") new Task
		hr
		#selectOption.bg-light.pt-2
			include ./list/filter
		hr
		.row
			include ../aaPlugin/pageSlip
		.row
			include ./list/taskList

		hr
		include ./list/selectPrint