.col-6.col-sm-4.col-lg-3
	a.nav-link(href="/sfTasks")
		img.figure-img.img-fluid.rounded(src="/imgs/tasks.jpg", width="100%", alt="tasks list")
.col-6.col-sm-4.col-lg-3
	a.nav-link(href="/sfCars")
		img.figure-img.img-fluid.rounded(src="/imgs/car/car.jpg", width="100%", alt="brand list")
.col-6.col-sm-4.col-lg-3
	a.nav-link(href="/sfAbsenceAdd") Apply leave
	//- img.figure-img.img-fluid.rounded(src="/imgs/car/car.jpg", width="100%", alt="brand list")
.col-6.col-sm-4.col-lg-3
	a.nav-link(href="/sfAbsences") Absences
		//- img.figure-img.img-fluid.rounded(src="/imgs/car/car.jpg", width="100%", alt="brand list")
if crSfer.part == 1
	-a;
	.col-6.col-sm-4.col-lg-3
		a.nav-link(href="/sfAbsenceConfirm") Absence Confirm
			//- img.figure-img.img-fluid.rounded(src="/imgs/car/car.jpg", width="100%", alt="brand list")