.col-6.col-sm-4.col-lg-3
	a.nav-link(href="/sfOrders")
		img.figure-img.img-fluid.rounded(src="/imgs/orders.jpg", width="100%", alt="orders list")
.col-6.col-sm-4.col-lg-3
	a.nav-link(href="/sfPays")
		img.figure-img.img-fluid.rounded(src="/imgs/pays.jpg", width="100%", alt="pays list")