#divMark(style="display:none")
	hr
	.row
		.col-sm-2
			button.btn.btn-default.btn-lg.changSts(type="button", data-url="/scontSts", data-sts=0) To refer
		.col-sm-2
			button.btn.btn-warning.btn-lg.changSts(type="button", data-url="/scontSts", data-sts=1) To common
		.col-sm-2
			button.btn.btn-default.btn-lg.changSts(type="button", data-url="/scontSts", data-sts=2) To gray
		.col-sm-2
			button.btn.btn-default.btn-lg.changSts(type="button", data-url="/scontSts", data-sts=3) To green
		.col-sm-2
			button.btn.btn-default.btn-lg.changSts(type="button", data-url="/scontSts", data-sts=4) To yellow
		.col-sm-2
			button.btn.btn-default.btn-lg.changSts(type="button", data-url="/scontSts", data-sts=5) To delete
	.row
		button.btn.btn-link.btn-block#hideMark(type="button") hide