extends ../aalayout/layout

block content
	.container
		.row
			h1.col-12.col-sm-6
				span Brands [#{count}]
			.col-6.col-sm-3.text-right
				button.btn.btn-warning.btn-block.btnFilter(type="button") Filter
			.col-6.col-sm-3.text-right
				a.btn.btn-info.btn-block(href="/qtScontAdd") Add Discount
		hr
		.filterInfo(style="display:none")
			.row.bg-light.p-2
				.col-sm-12
					include ./list/filter
			hr
		.row
			.col-sm-12
				include ../../../aaPlugin/pageSlip
			.col-sm-12
				include ./list/selfList
		.row
			.col-sm-8
			.col-sm-4
				include ./list/print
	script(src="/js/scont/brand/list.js")