extends ../aalayout/layout

block content
	.container
		.row
			h1.col-sm-6 Payments [#{count}]
			.col-sm-6.text-right
				a.btn.btn-primary.btn-lg(href="/fnPaymentAdd") new Payment
		hr
		#selectOption.bg-light.pt-2
			include ./list/filter
		hr
		include ../../../aaPlugin/pageSlip
		include ./list/selfList
		//- .row
		//- 	.col-sm-8
		//- 	.col-sm-4
		//- 		include ./list/print
	script(src="/js/responsive.js")