.form-group.row
	label.col-4.col-sm-2.col-form-label Entry
	.col-8.col-sm-2
		//- if entry > count
		//- 	-entry = count;
		input.form-control(type="number", name='entry', value=entry)
	.col-8.col-sm-4
		span.text-muted Number of entries per page
	.col-12.col-sm-4
		input.btn.btn-info.btn-block(type="submit" value="filter")