extends ../aalayout/layout

block content
	.container.mt-3
		h2 HR System
		.row.mt-3.bg-light
			include ../../sfer/index/manager
		.row.border.mt-3
			.col-6.col-sm-4.col-lg-3
				a.nav-link(href="/hrAbsences")
					img.figure-img.img-fluid.rounded(src="/imgs/absence/hrRecord.jpg", width="100%", alt="pays list")
			.col-6.col-sm-4.col-lg-3
				a.nav-link(href="/hrAbsenceConfirm")
					img.figure-img.img-fluid.rounded(src="/imgs/absence/hrMg.jpg", width="100%", alt="pays list")
			.col-6.col-sm-4.col-lg-3
				a.nav-link(href="/hrSfers")
					img.figure-img.img-fluid.rounded(src="/imgs/vendors.jpg", width="100%", alt="pays list")
		.row.mt-3
			include ../../sfer/index/order
			include ../../sfer/index/scont
			include ../../sfer/index/index