form(method="get", action=url+"Print", enctype="multipart/form-data")
	
	input.form-control(type="hidden", name="keytype", value=keytype)
	input.form-control(type="hidden", name="keyword", value=keyword)
	//- include ../../../aaPlugin/print/at
	input.form-control(type="hidden", name="role", value=condRole)
	include ../../../aaPlugin/print/footer
