extends ../aalayout/layout

block content
	.container.noprint
		
		include ./detail/selfInfo
		include ./detail/mark
		
		if object.logs && object.logs.length > 0
			-let logs = object.logs;
			hr
			include ./detail/logs
		hr
	if brand
		-a;
		include ./detail/paperPrint