extends ../../aalayout/layout

block content
	.container
		.row(class=objBg)
			h1.col-sm-6 Brand Category: [#{object.code}]
			.col-sm-6.text-right
				a.btn.btn-link(href="/bcategList") category list
		hr
		include ./detail/selfInfo
		if brands && brands.length > 0
			-a;
			hr
			include ./detail/brands