extends ../aalayout/layout

block content
	.bg-secondary.py-5
		.container
			.row
				h2.col-12.col-md-6.text-center.mt-2 Pays [#{count}]
				
				.col-12.col-md-3.mt-3
					button.btn.btn-warning.btn-block.btnFilter(type="button") Filter
	.container.mt-3
		.filterInfo(style="display:none")
			#selectOption.bg-light.p-2
				include ./list/filter
			hr
		include ../../../aaPlugin/pageSlip
		include ./list/selfList
		//- .row
		//- 	.col-sm-8
		//- 	.col-sm-4
		//- 		include ./list/print
	script(src="/js/filtTog.js")